body {
    font-family: Tahoma;
    background: #fdf6e3;
    text-align: center;
    margin: 0;
}

header {
    background: #e67e22;
    color: #fff;
    padding: 50px 20px;
}

.menu {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 40px;
}

.dish {
    background: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px #ccc;
}

button {
    padding: 10px 20px;
    background: #2ecc71;
    border: none;
    border-radius: 5px;
    color: #fff;
    font-weight: bold;
    cursor: pointer;
    margin-top: 10px;
}

button:hover {
    background: #27ae60;
}